@page  "/valid"
@inject IUriHelper UrlHelper

<div class="section">
    Your post is valid.
</div>

<div class="section">
    <button @onclick="OnClickGoBack">GO BACK</button>
</div>

@code {

    private void OnClickGoBack()
    {
        UrlHelper.NavigateTo("/");
    }
}